
<div class="w3-top mb-7 transbox">
    <div class="w3-bar w3-black w3-card">
        <a class="w3-bar-item w3-button w3-padding-large w3-hide-medium w3-hide-large w3-right"
           href="javascript:void(0)" onclick="myFunction()"
           title="Toggle Navigation Menu">
            <i class="fa fa-bars"></i></a>
        <a href="#" class="w3-bar-item w3-button w3-padding-large">HOME</a>
        <a href="#about" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">About us</a>
        <a href="#band" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">Find us</a>
        <a href="#tour" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">Menu</a>
        <a href="#catering" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">Catering</a>
        <a href="#feedback" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">Feedback</a>
        <a href="#contact" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">Contact us</a>

    </div>
</div>

